@media (min-width:980px) {

    .sort-title{
        display: none;
    }
    .filters__title{
        display: none;
    }

    
}

@media (max-width:980px) {
    .shopping-item{
        flex: 1 1 400px;
    }
    //slider
    .header-main-slider{
        height: 400px;
    }
    .navigation-circles{
        bottom: 0;
        &__circle{
            width: 35px;
            height: 35px;
        }
        &__circle:hover{
            width: 40px;
            height: 40px;    
        }
    }
    .navigation-arrows__arrow{
        width: 45px;
        height: 45px;
    }
    
    //filtersShop
    .products {
        grid-template-columns: 60px 10fr 10fr 60px;
        grid-template-rows: 55px 55px 10fr;
        grid-template-areas: 'title title title changePosition'
        'filters filters sort sort'
        'shopping shopping shopping shopping';
        &__title{   
            font-size: 18px;              
            display: flex;
            align-items: center;
            grid-area: title;
        }    
        
    }  
    
    //sort
    
    .filters{
        margin: 0 32px 0 0;
        height: 70%;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        color: #fff;
        grid-area: filters;
        &__title{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-size: 20px;
            font-weight: 500;
        }
        &__modal{
            position: fixed;
            top: 0;
            left: 0;
            width:500px;
            height: 600px;
            background-color: rgb(255, 255, 255);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 5px 50px #000;
            z-index: 15;
            display: none;
        }
    }
  
    //sort
    .sort{
        position: relative;
        margin: 0 0 0 32px;
        
        height: 70%;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        color: #fff;
        grid-area: sort;
        &-title{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            
        }
    }
    
    .sort-modal{
        display: none;
        width: 80%;
        position: absolute;
        top: 53px;
        right: 0;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(51, 49, 49, 0.712);
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 9;
    }
    
    .container-price{
        &__last-price {
            margin: 3px 0;
        }
    }
    
    .sort-price {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        
        &__title {
            width: 100%;
            color: black;
            margin: 0 0 10px;
        }   
        &__increase{
            width: 100%;
            margin: 0;
            
        }
        &__deacrease{
            width: 100%;
            margin: 0;
        }
        &__btn {
            height: 58px;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 5px 12px rgba(0, 0, 0, 0.726);
            &:hover{
                box-shadow: 0 5px 12px rgba(0, 0, 0, 0.726);
                background: black;
                color: #fff;
            }
        }
    }
    //second-variation
    .item-shopping{
        flex: 1 1 270px;
    }
    //burger-modal
    .burger-menu__modal{
        top: 50px;    
    }
}


@media (max-width:865px) {
    .filters{
        height: 70%;
    }
    .sort{
        height: 70%;
    }
    .navigation__circle{
        width: 25px;
        height: 25px;
    }
    .shopping-item{
        flex: 1 1 400px;
        max-width: 100%;
    }
    .information-item{
        &__title{
            font-size: 18px;
            font-weight: 600;
        }
        &__about{
            padding: 5px 0;
            font-size: 15px;
            font-weight: 400;
        }
    }
    .name-products{
        font-size: 22px;
    }
    .amount-products{
        padding: 4px 0 0 0;
        font-size: 14px;
    }
    //second-variation
    .item-shopping{
        flex: 1 1 225px;
        max-width: 100%;
    }
    
}

 
@media (max-width:730px) {
    //navigation
    
.stop-scrolling {
    margin:0;
    overflow: hidden;  
 }
    .nav-info__item{
        display: none;
    }

    //slider
    .header-main-slider{
        height: 300px;
        margin: 70px auto 20px;
    }   
    .filters{
        height: 70%;
    }
    .sort{
        height: 70%;
    }
    .sort-price__increase{
        font-size: 16px;
    }
    .sort-price__decrease{
        font-size: 16px;
    }
    .shop-navigation {
        display: none;
    }
    .btn-area__btn{
        padding: 8px;
    }
    .information-item{
        &__title{
            font-size: 18px;
            font-weight: 600;
        }
        &__about{
            padding: 3px 0;
            font-size: 15px;
            font-weight: 400;
        }
    }
    .name-products{
        font-size: 23px;
    }
    .amount-products{
        padding: 4px 0 0 0;
        font-size: 15px;
    }
    //second-variation
    .item-shopping{
        flex: 1 1 250px;
    }
    .area-item{
        height: 300px;
    }
    //burger-menu
    //burger-menu
    .burger-menu{
        display: block;
    }
    .burger-modal{
        top: 40px;    
    }
}

@media (max-width:640px) {
    //slider
    .header-main-slider{
        height: 300px;
    }
    .navigation-circles{
        bottom: -20px;
        &__circle{
            width: 30px;
            height: 30px;
        }
    }
    .navigation-arrows__arrow{
        width: 45px;
        height: 45px;
    }
    .container-shopping{
        padding: 0 10px;
    }
    .name-products{
        font-size: 22px;
    }
    .amount-products{
        padding: 4px 0 0 0;
        font-size: 18px;
    }
    .filters{
        height: 65%;
    }
    .sort{
        height: 65%;
    }
    .sort-title{
        font-size: 16px;
    }
    .filters__title{
        font-size: 16px;
    }
    .information-item{
        &__title{
            font-size: 18px;
            font-weight: 600;
        }
        &__about{
            padding: 3px 0;
            font-size: 15px;
            font-weight: 400;
        }
    }
    .container-price{
        margin: 0;
        &__price{
            
            font-size: 17px;
        }
        &__last-price{
            font-size: 14px;
            padding: 0 6px
        }
        &__discount{
            font-size: 12px;
            padding: 0 8px;
            margin: 2px 5px 0 5px;
        }
    }
    .raiting__star{
        width: 18px;
        height: 18px;
        object-fit: contain;
        
    }
    .btn-area__btn{
        padding: 6px 0;
        font-size: 15px;
        margin: 0;
    }
      //second-variation
      .item-shopping{
        flex: 1 1 200px;
    }
    .area-item{
        height: 200px;
    }
    
}

@media (max-width:486px) {
    //slider

    .header-main-slider{
        height: 200px;
        margin: 60px auto 10px;
    }
    .navigation-circles{
        &__circle{
            width: 25px;
            height: 25px;
        }
        &__circle:hover{
            width: 40px;
            height: 40px;    
        }
    }
    .navigation-arrows__arrow{
        width: 30px;
        height: 30px;
    }
    //second-variation
    .item-shopping{
        flex: 1 1 200px;
    }
    .area-item{
        height: 200px;
    }
}


@media (max-width:440px) {

    .container{
        padding: 0 10px;
    }
    .container-shopping{
        padding: 0 10px;
    }
    .products {
        grid-template-columns: 60px 10fr 10fr 60px;
        grid-template-rows: 55px 30px 10fr;
    }  
    .container-price{
        margin: 0;
        &__price{
            font-size: 16px;
        }
        &__last-price{
            font-size: 12px;
            padding: 0 6px
        }
        &__discount{
            font-size: 12px;
            padding: 0 8px;
            margin: 2px 5px 0 5px;
        }
    }
    .name-products{
        font-size: 20px;
    }
    .amount-products{
        padding: 4px 0 0 0;
        font-size: 15px;
    }
    .filters{
        height: 85%;
        margin: 0 16px 0 0;
    }
    .sort{
        height: 85%;
        margin: 0 0 0 16px;

    }
    .sort-title{
        font-size: 14px;
        padding: 4px 0;
    }
    .filters__title{
        font-size: 14px;
        padding: 4px 0;
    }
    .information-item{
        &__title{
            font-size: 18px;
            font-weight: 600;
        }
        &__about{
            padding: 6px 0;
            font-size: 15px;
            font-weight: 400;
        }
    }
    //second-variation
    .item-shopping{
        flex: 1 1 200px;
    }
    .area-item{
        height: 200px;
    }
    //basket
    .basket-modal{
        width: 350px;
       
    
        
    }
}
@media (max-width:400px) {
    .shopping-item{
        flex: 1 0 450px;
    }
    .raiting__star{
        width: 15px;
        height: 15px;
        object-fit: contain;
  
    }
    .container-price{
        margin: 0;
        &__price{
            font-size: 16px;
        }
        &__last-price{
            font-size: 12px;
            padding: 0
        }
        &__discount{
            font-size: 12px;
            padding: 0 5px;
            margin: 0 5px;
        }
    }
    
    .information-item{
        padding: 6px;
        &__title{
            font-size: 14px;
            font-weight: 600;
        }
        &__about{
            padding: 3px 0;
            font-size: 12px;
            font-weight: 400;
        }
    }
    .btn-area__btn{
        padding: 6px 0;
        font-size: 13px;
        margin: 0;
    }
    .navigation__circle{
        width: 20px;
        height: 20px;
    }
    //second-variation
    .item-shopping{
        flex: 1 1 200px;
    }
    .area-item{
        height: 200px;
    }
    //basket
    .total-price__btn{
        padding: 12px 15px;
    }
}

@media (max-width:368px) {
    .item-area{
        margin: 5px;
    }
    .information-item{
        padding: 5px;
    }
    .container-price{
        &__last-price{
            font-size: 12px;
            padding: 0;

        }
        &__discount{
            font-size: 12px;
            padding: 0 3px;
            margin: 0 5px;
        }
    }

    .navigation__circle{
        width: 20px;
        height: 20px;
    }
    .btn-area__btn{
        padding: 6px 0;
        font-size: 12px;
        margin: 0;
    }
    //basket
    .basket-modal{
        width: 300px;
        max-height: 500px;
    }
    .basket-product{
        height: 400px;
        
    }
}

@media (max-width:314px) {
    .basket-modal{
        width: 250px;
        max-height: 400px;
    }
    .basket-product{
        height: 300px;
        
    }
    .total-amount__title{
        padding: 5px;
    }
    .total-price__btn{
        margin: 0 10px;
        padding: 5px 0px;
        font-size: 14px;
    }
}