
.choose-products {
    width: 210px;
    height: 200px;
    margin: 1em 1em;
    position: relative;
    &__btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        padding: 8px;
        background-color: black;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        transition: all .1s ease;

    }
    &__input{
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        margin:25px 0 10px 0;
        height: 30px;
        outline: none;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.596);
        padding: 0 5px;
    }
    &__input:last-child{
        margin-left: 10px;
    }
    
}
.choose-products__btn:hover{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(236,224,255,1) 47%, rgba(148,187,233,1) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 7px black;
    @keyframes gradient {
        0% {
            background-position: 0 50%;
        } 
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

.range{
    position: relative;
    max-width: 100%;
    background-color: #ccc;
    height: 10px;
    border-radius: 5px;
    top: 55px;
    &__btn-left{
        position: absolute;
        top: -6px;
    }
    &__btn-right{
        position: absolute;
        top: -6px;
        margin-left: 185px ;
    }
    &__between-btn{
        position: absolute;
        top: 1px;
        height: 8px;
        width: 200px;
        background-color: rgba(53, 52, 51, 0.712);
    }
    
}

.title-price{
    position: absolute;
    top: 0px;
}


.btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;

}

.inputs-number{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 60px;
    
}
