.container-shopping {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}    

//shop-navigation

.shop-navigation{
    height: 50px;
}

.shop-list{
    display: flex;
    justify-content: space-around;

    &__link{
        padding: 0 15px;
        font-size: 18px;
        font-weight: 400;
        color: black;
        cursor: pointer;
    }
}


//products gridContainer
.products {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 10fr 60px;
    grid-template-rows: 50px 35px 10fr;
    grid-template-areas: 'title title changePosition'
                        ' . sortPrice .'
                         'choose shopping .';
    &__title{                 
        display: flex;
        align-items: center;
        grid-area: title;
    }    
    
}    

.name-products{
    font-size: 30px;
    padding: 0 10px 0 0 ;
}    

.amount-products{
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
}    

//btn-change grid container
.change-position{
    position: relative;
    grid-area: changePosition;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in;
    &__four-cubes{
        position: absolute;
        width: 21px;
        height: 21px;
        cursor: pointer;
        transition: all .2s ease-in;
        left: 0px;
        
    }    
    &__two-cubes{
        width: 21px;
        height: 21px;
        position: absolute;
        right: 0;
        cursor: pointer;
        transition: all .2s linear;
    }    
}    

//section four cube
.section-of-four {
    position: absolute;
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    transition: .2s linear;
    &:nth-child(1){
        left: 0;
    }    
    &:nth-child(2){
        right: 0;
    }    
    &:nth-child(3){
        bottom: 0;
    }    
    &:nth-child(4){
        bottom: 0;
        right: 0;
    }    
} 

.change-position__four-cubes:hover{
    width: 42px;
    height: 42px;
    
    .section-of-four {
        width: 20px;
        height: 20px;
        background-color: #000;
        transition: .2s linear;
    }
    
}    
.change-position__four-cubes--active{
    .section-of-four {
        background-color: #000;
        
    }
    
}

//section two cubes
.section-of-two {
    position: absolute;
    display: flex;
    width: 20px;
    height: 10px;
 
    transition: all .3s linear;
    background-color: #ccc;
    &:nth-child(1){
        top: 0;
    }    
    &:nth-child(2){
        margin: 1px 0 0 0;
        bottom: 0;
    }    
}    

.change-position__two-cubes:hover{
    width: 42px;
    height: 42px;
    transform: rotate(90deg);
    transition: all .3s linear;
    .change-position__four-cubes{
        left: -10px;
    }
    
    .section-of-two {
        width: 40px;
        height: 20px;
        background-color: #000;
        transition: .2s linear;
    }
}   

.change-position__two-cubes--active{
    .section-of-two {
        background-color: #000;
    }
}




//js shopping
.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: shopping;
}    

.shopping-item{
    flex: 1 1 350px;
    position: relative;
    max-width: 550px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.493);
    border:1px solid rgba(49, 49, 48, 0.233);
    border-radius: 5px;
    display: flex;
    margin: 1em 1em;
    overflow: hidden;
    
}    

.item-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    margin: 10px;
}    




.images{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__item{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        transition: opacity .2s linear;
    }    
}    
.images__item--active{
    opacity: 100%;
    transition: opacity .2s linear;
}    
.navigation{
    display: flex;
    position: absolute;
    bottom: 3px;

    &__circle{
        width: 25px;
        height: 25px;
        background-color: rgba(204, 204, 204, 0.63);
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background .2s ease-in;
    }    
}    
.navigation__circle--active{
    background: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}    

.information-item{
    // background: antiquewhite;
    border-left:1px solid rgba(187, 168, 143, 0.644);
    padding: 10px;
    max-width: 450px;
    height: 100%;
   &__title{

   }    
   &__about{
    max-width: 400px;   
   } 
   &__price{
       font-weight: 500;
       font-size: 25px;
       margin: 10px 0 ;
   }    
}   

.btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{
        border: none;
        background: black;
        color: rgb(255, 255, 255);
        border-radius: 3px;
        margin: 10px 0 0 0;
        padding: 10px 40px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        transition: all .1s ease;
        outline: none;
    }    
}    
.btn-area__btn:hover{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(236,224,255,1) 47%, rgba(148,187,233,1) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.726);
    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }     
        50% {
            background-position: 100% 50%;
        }    
        100% {
            background-position: 0 50%;
        }    
    }    
}    
.btn-area__btn--active {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(236,224,255,1) 47%, rgba(148,187,233,1) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.726);
    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }     
        50% {
            background-position: 100% 50%;
        }    
        100% {
            background-position: 0 50%;
        }    
    }  
}

//sort price 

.sort-price {
    width: 10fr;
    margin: 0 1em;
    display: flex;
    align-items: center;
    flex: 1 1 100px;
    justify-content: left;
    grid-area: sortPrice;
    
    &__btn{
       margin: 5px 0 0 0;
    }
    &__title {
        font-weight: 400;
        font-size: 18px;
        margin-right: 1em ;

    }
    &__increase{
        margin-right: 1em;
    }
    &__decrease{
       
    }
}


.sort-price__btn {
    border: none;
    background: initial;
    color: black;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    transition: all .1s ease;
    outline: none;
    &:hover{
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(236,224,255,1) 47%, rgba(148,187,233,1) 100%);
        background-size: 400% 400%;
        animation: gradient 6s ease infinite;
        color: rgb(0, 0, 0);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.726);
        @keyframes gradient {
            0% {
            background-position: 0 50%;
            }     
            50% {
            background-position: 100% 50%;
            }    
            100% {
            background-position: 0 50%;
            }    
        } 
    }
}


.sort-price__increase--active{
    background-color: black;
    color: #fff;
}

.sort-price__decrease--active{
    background-color: black;
    color: #fff;
}