@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';
@import 'header-slider';
@import 'main-shopping';
@import 'choose-price';
@import 'second-variation';
@import 'basket-style';
@import 'burger-menu';
@import 'start-window';

.container { 
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.background-nav{
    padding: 5px 0 ;
    background: antiquewhite; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgba(0, 0, 0, 0.911) ;
    z-index: 10;
}

.nav-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    
    &__item{
        display: flex;
        align-items: center;
        height: 40px;
        margin: 0 10px;
        color: #fff;
    }
   
}

.information-site{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}    

.stop-scrolling {
   margin: 0 15px 0 0 ;
    overflow: hidden;
    
  
}



@import 'media';